.bgSearcher {
    background-color: rgba($color: #009EE3, $alpha: 1.0);
    color: rgba($color: #1C2869, $alpha: 1.0);
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;

    .whiteBoxSearcher {
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        box-sizing: border-box;
        border-radius: 30px;
        width: 600px;

        .containerInputsSearcher{
            width: 100% !important;
        }

        input {
            border: none;
            color: #1C2869;
            font-family: 'Rubik', sans-serif;
            background-color: #e9ecef !important;
        }

        input:focus{
            box-shadow: 0 0 0 0.1rem rgb(28 40 105);
        }

        .inputRegister {
            border: none !important;
            width: 2.5rem;
        }

        .iconSelect {
            border-radius: 10px 0 0 10px !important;
        }

        .inputFile{
            padding: 1rem;
            border: 4px dashed #1c2869bb;
            border-radius: 20px;
            background-color: #e9ecef !important;
        }

        .fa-solid, .MuiSvgIcon-root {
            color:#1C2869;
        }
        
        .selectPatient {
            background-color: #e9ecef !important;
            border-radius: 0 10px 10px 0;
            border: none;
            color: #1C2869;
            height: 2.2rem;
            font-family: 'Rubik', sans-serif;
           
        }

        .selectPatient:focus {
            box-shadow: 0 0 0 0.1rem rgb(28 40 105);
        }

        .defineButton {
            appearance: none;
            background-color: rgba($color: #1C2869, $alpha: 1.0);
            color: white;
            border: none;
            border-radius: 50px;
            font-weight: bold;
            font-size: 1.4rem;
            font-family: 'Rubik', sans-serif;
            width: 10rem;
            padding: 0.3rem;
        }

        .defineButton:hover {
            background-color: #293a9a;
        }

        .iconSearch{
            width: 35px;
        }
        

        .defineButton2 {
            appearance: none;
            background-color: rgba($color: #1C2869, $alpha: 1.0);
            color: white;
            border: none;
            border-radius: 50px;
            font-weight: 500;
            font-size: 1rem;
            font-family: 'Rubik', sans-serif;
            width: fit-content;
            padding: 0.3rem;

        }

        .defineButton2:hover {
            background-color: #293a9a;
        }
    }
}

@media screen and (max-width: 660px){
    .whiteBoxSeracher {
        width: 90% !important;
    }  
}

@media screen and (max-width: 390px){
    .whiteBoxSeracher {
        width: 100% !important;
    }
}