.bgColorHome {
    background-color: rgba($color: #009EE3, $alpha: 1.0);
    color: rgba($color: #1C2869, $alpha: 1.0);
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;

    .whiteContainerHome {
        background-color: white;
        border-radius: 30px;
        box-shadow: rgba(86, 72, 72, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        .cardDateHome {
            background-color: #F3F3F3;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border-radius: 30px;
            justify-content: space-between;
            width: 500px;
            height: 230px;
            cursor: pointer;
            overflow: hidden;
            margin-bottom: 2rem;

            .textHome {
                padding-left: 2rem;
            }

            .icon{
                margin-top: auto;

                img{
                    width: 325px;
                }

                .colorIcon{
                    color: #1C2869;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px){
    .whiteContainerHome {
        visibility: hidden;
        height: 100vh;

        .cardDateHome{
            visibility: visible;
        }

    }  
}

@media screen and (max-width: 390px){
    .whiteContainerHome {
        visibility: hidden;
        height: 100vh;

        .cardDateHome{
            visibility: visible;
            height: 165px !important;
            margin-bottom: 1.5rem !important;

            img{
                width: 230px !important;
            }
        }

    }  
}