.bgAvailabilityMedic{
    background-color:  #009EE3;
    min-height: 100vh;

    .MuiTableRow-head, .thContentTable {
        background-color: white;
        color: #1C2869 !important;
        font-family: 'Rubik', sans-serif !important;
    }

    .MuiTableBody-root, .MuiTableCell-root {
        color: #1C2869 !important;
        font-family: 'Rubik', sans-serif !important;
        width: max-content;
        font-weight: 500;
    }
}

