.bgColorFormLogin {
    background-color: rgba($color: #009EE3, $alpha: 1.0);
    color: rgba($color: #1C2869, $alpha: 1.0);
    min-height: 100vh;

    .whiteBoxFormLogin {
        background-color: rgba(255, 255, 255, 0.645);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        box-sizing: border-box;
        border-radius: 30px;
        justify-content: center;
        padding: 2rem;

        .input-group{
            width: 20rem !important;
        }
        
        input {
            border-radius: 50px;
            border: none;
            color: #1C2869;
            font-family: 'Rubik', sans-serif;
        }

        input:focus{
            box-shadow: 0 0 0 0.1rem rgb(28 40 105);
        }

        .inputFormLogin{
            border: none !important;
            border-radius: 50px;
        }

        .fa-solid {
            color:#1C2869;
        }

        .errorLogin {
            .inputFormLogin{
                background-color: #ef5350;
                .fa-solid{
                    color: white;
                }
            }
            
            input {
                background-color: #ef5350;
                color: white;
            }

            input:focus {
                box-shadow: 0 0 0 0.1rem rgb(255 255 255 / 90%);
            }

            input::placeholder{
                color: white;
            }
        }
        .errorLogin::placeholder{
            color: white;
        }

        .deffineButton {
            appearance: none;
            background-color: rgba($color: #1C2869, $alpha: 1.0);
            color: white;
            border: none;
            border-radius: 50px;
            font-weight: 600;
            font-size: 1.2rem;
            font-family: 'Rubik', sans-serif;
            width: 8rem;
            padding: 0.3rem;
        }

        .deffineButton:hover {
            background-color: #293a9a;
        }

        .deffineButton2 {
            appearance: none;
            background-color: rgba($color: #1C2869, $alpha: 1.0);
            color: white;
            border: none;
            border-radius: 50px;
            font-weight: 600;
            font-size: 1.2rem;
            font-family: 'Rubik', sans-serif;
            width: 15rem;
            padding: 0.3rem;
        }

        .deffineButton2:hover {
            background-color: #293a9a;
        }


        .titleFormLogin{

            .logoLoginForm{
                width: clamp(3rem, 200px, 300px);
            }  
        }
        
        .resetsPasswordFormLogin{

            p {
                font-family: 'Rubik';
                font-weight: 500;
                padding: 0;
                margin: 0;
            }

            .resetPassword {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .lineFormLogin{
            background-color: #1c2869;
            height: 0.2rem;
            opacity: inherit;
            width: 50%;
        }
    }
}

.borderButton {
    appearance: none;
    width: fit-content;
    height: 2.5rem;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    background-color: transparent;
    font-weight: bold;
    align-items: flex-end;
}

@media only screen and (min-width: 900px){
    .whiteBoxFormLogin {
        width: 600px !important;
    }
}

@media only screen and (max-width: 576px){
    .whiteBoxFormLogin {
        width: 90vw !important;
       
    }
}