.bgAppointmentHistory{
    background-color: rgba($color: #009EE3, $alpha: 1.0);
    color: rgba($color: #1C2869, $alpha: 1.0);
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;

    

    .whiteBoxAppointmentHistory{
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        box-sizing: border-box;
        border-radius: 30px;

        .tableAppointmentHistory {
            color: #1C2869;
        }

        .pendingButton {
            background-color: #89898992;
            border-radius: 30px;
            color: #383F51;
            width: 120px;
        }

        .acceptButton {
            background-color:  rgba(89, 220, 53, 0.346);
            border-radius: 30px;
            color: rgb(9, 255, 0);
            width: 120px;
        }

    }
    
    .withoutAppointments{
        background-color: white;
        padding: 2rem;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}