.bgAllMedics{
    background-color: rgba($color: #009EE3, $alpha: 1.0);
    color: rgba($color: #1C2869, $alpha: 1.0);
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;

    .whiteBoxAllMedics{

        .MuiTableCell-root{
            font-family: 'Rubik', sans-serif;
            color: rgba($color: #1C2869, $alpha: 1.0);
            
            .imagePatient{
                width: 60px;
                border-radius: 50%;
            }
        }

        .buttonEnabledUser{
            background-color: rgba(53, 106, 220, 0.12);
            padding: 0.6rem 1rem;
            border: none;
            border-radius: 20px;
            display: flex;
            align-items: center;
            gap: 5px;
            .pointEnable{
                height: 10px;
                width: 10px;
                background-color: rgb(2, 62, 122);
                border-radius: 50%;
            }
        }

        .buttonDisabledUser{
            background-color: rgb(220, 53, 53, 0.14);
            padding: 0.6rem 1rem;
            border: none;
            border-radius: 20px;
            display: flex;
            align-items: center;
            gap: 5px;
            .pointDisabled{
                height: 10px;
                width: 10px;
                background-color: rgb(255, 0, 0);
                border-radius: 50%;
            }
        }


    }
}