.bgAllMedics{
    background-color: rgba($color: #009EE3, $alpha: 1.0);
    color: rgba($color: #1C2869, $alpha: 1.0);
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;

    .whiteBoxAllMedics{

        .contSearcher{
            background-color: white;
            border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

            input {
                color: #1C2869;
                font-family: 'Rubik', sans-serif;
            }
    
            input:focus{
                box-shadow: 0 0 0 0.1rem rgb(28 40 105);
            }
    
            .inputRegister {
                width: 2.5rem;
            }
    
            .iconSelect {
                border-radius: 10px 0 0 10px !important;
            }
    
            .inputFile{
                padding: 1rem;
                border: 4px dashed #1c2869bb;
                border-radius: 20px;
            }

            .fa-solid {
                color:#1C2869;
            }
            
            .defineButton {
                appearance: none;
                background-color: rgba($color: #1C2869, $alpha: 1.0);
                color: white;
                border: none;
                border-radius: 50px;
                font-weight: 400;
                font-size: 1rem;
                font-family: 'Rubik', sans-serif;
                width: 5rem;
                padding: 0.3rem;
            }
    
            .defineButton:hover {
                background-color: #293a9a;
            }

        }

        .tableAllMedics {
            width: 100%;

            .MuiTableCell-root{
                font-family: 'Rubik', sans-serif;
                color: rgba($color: #1C2869, $alpha: 1.0);
                
                .imageMedic{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
            }
    
            .viewProf {
                cursor: pointer;
            }
    
            .buttonEnabledUser {
                background-color:  rgba(89, 220, 53, 0.14);
                color: rgb(9, 255, 0);
                padding: 0.6rem 1rem;
                border: none;
                border-radius: 20px;
                display: flex;
                align-items: center;
                gap: 5px;
    
                .pointEnable {
                    height: 10px;
                    width: 10px;
                    background-color: rgb(9, 255, 0);
                    border-radius: 50%;
                }
            }
    
            .buttonDisabledUser{
                background-color:  rgb(220, 53, 53, 0.14);
                color:  rgb(255, 0, 0);
                padding: 0.6rem 1rem;
                border: none;
                border-radius: 20px;
                display: flex;
                align-items: center;
                gap: 5px;
    
                .pointDisabled {
                    height: 10px;
                    width: 10px;
                    background-color: rgb(255, 0, 0);
                    border-radius: 50%;
                }
            }
    
            .buttonDeleteOnUser {
                background-color:  rgb(220, 53, 53, 0.14);
                color:  rgb(255, 0, 0);
                padding: 0.6rem 1rem;
                border: none;
                border-radius: 20px;
                display: flex;
                align-items: center;
                gap: 5px;
    
                .pointDeleteOn {
                    height: 10px;
                    width: 10px;
                    background-color:  rgb(255, 0, 0);
                    border-radius: 50%;
                }
            }
    
            .buttonDeleteOffUser {
                background-color:  rgba(89, 220, 53, 0.14);
                color: rgb(9, 255, 0);
                padding: 0.6rem 1rem;
                border: none;
                border-radius: 20px;
                display: flex;
                align-items: center;
                gap: 5px;
    
                .pointDeleteOff {
                    height: 10px;
                    width: 10px;
                    background-color: rgb(9, 255, 0);
                    border-radius: 50%;
                }
            }
        }
    }

    .whiteBoxValidationText{
        background-color: white;
        border-radius: 30px;
        box-shadow: rgba(86, 72, 72, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .msg{
        background-color: white;
        border-radius: 30px;
        box-shadow: rgba(86, 72, 72, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        .defineButton {
            appearance: none;
            background-color: rgba($color: #1C2869, $alpha: 1.0);
            color: white;
            border: none;
            border-radius: 50px;
            font-weight: 400;
            font-size: 1rem;
            font-family: 'Rubik', sans-serif;
            width: 5rem;
            padding: 0.3rem;
        }

        .defineButton:hover {
            background-color: #293a9a;
        }
    }
}

@media only screen and (max-width: 767px){
    .searcher{
        flex-direction: column !important;

        .contButton{
            justify-content: center;
        }
    }
}



@media only screen and (max-width: 582px){
    .searcher{
        flex-direction: column !important;

        .contButton{
            justify-content: center;
        }
    }
}
