.modalAppointment {
    font-family: 'Rubik', sans-serif;
    color: rgba($color: #1C2869, $alpha: 1.0);

    .avatarModal {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    }

    .cancelButton {
        appearance: none;
        background-color: rgba($color: #da0f0f, $alpha: 1.0);
        color: white;
        border: none;
        border-radius: 50px;
        font-weight: 400;
        font-size: 1rem;
        font-family: 'Rubik', sans-serif;
        width: 60px;
    }

    .cancelButton:hover {
        background-color: #9a2929;
    }
}