.bgPatientProfile {
    background-color: rgba($color: #009EE3, $alpha: 1.0);
    color: rgba($color: #1C2869, $alpha: 1.0);
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;

    .whiteBoxPatientProfile {
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        box-sizing: border-box;
        border-radius: 30px;

        .rowPatientProfile{
            padding: 2rem;
            
            .informationPatientProfile{
    
                h4{
                    font-weight: 400;
                }
                
                hr{
                    background-color: #1c2869;
                    height: 0.1rem;
                    opacity: inherit;
                    width: 100%;
                }
            }
    
            .imagePatientProfile {
                width: fit-content;
    
    
                .imagePatient {
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                    width: 300px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px){
    .whiteBoxPatientProfile {
        margin-top: 2rem;
        margin-bottom: 2rem;

        .rowPatientProfile {
            flex-direction: column-reverse;

            .imagePatient{
                width: 200px !important;
            }
        }
        

    }  
}

@media screen and (max-width: 390px){
    .whiteBoxPatientProfile {
        width: 90% !important;

        .rowPatientProfile {
            flex-direction: column-reverse;

            .imagePatient{
                width: 120px !important;
                
            }
        }
    }  
}