.profile-medic-background{
    color: #1C2869;
    background-color: #009EE3;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;

    .aboutme-profile{
        background-color: rgb(238, 238, 238);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        .containerAvatarPerfil{
            .avatarPefil{
                width: 192px;
                height: 192px;
                border-radius: 50%;
                object-position: center;
                object-fit: cover;
                border: 6px solid rgb(255, 255, 255);
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            }
        }

        .name {
            font-weight: 700;
        }

        .lastname {
            font-weight: 300;
        }

        .section {
            padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            border-radius: 20px;
            
            .campos {
                font-weight: 800;
            }

        
            button{
                border: none;
                background-color: transparent;
            }

            div > p {
                margin: 0;
            }

            .separador {
                margin: 0;
                border:1.5px solid #1C2869;
                opacity: 1;
                margin-bottom: 1rem;
            }

            h4{
                margin: 0;
                padding: 0;
            }
        }

    }  

}


