.bgNavbar{
    background-color:#ffffffc8;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    position: fixed;
    top: 0;

    .navbar-nav{

        .nav-link {
            color: #1C2869;
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
            box-sizing: border-box;
            width: fit-content;
            box-sizing: content-box;
            transition: text-decoration var(--duration-short) ease;
        }
        
        .nav-link:hover, .nav-link:focus, .nav-link:active{
            text-underline-offset: 0.5rem;
            text-decoration: underline;
            color: rgba($color: #009EE3, $alpha: 1.0);
            width: fit-content;
        }
    
        // .dropdown-toggle:hover, .dropdown-toggle:focus{
        //     background-color: #ffffffc8;;
        // }
    }


    .navbar-brand {
        img{
            width: 10rem;
            object-fit: cover;
            object-position: center;
        }
    }

    .avatar {
        background-color: white;
        width: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        font-weight: bolder;
        font-size: 1.5rem;
        border: 1px solid rgb(141, 141, 141);
    }
    
    .avatarLogo {
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        border: 1px solid rgb(141, 141, 141);
    }

    .dropdown-toggle::after{
        display: none;
    }

    .menuDesplegable{
       div{
            left: -5vw;
        }
    }

    .MuiSvgIcon-root {
        color: #1C2869;
    }
}


@media only screen and (max-width: 991px){
    .navbar-brand {
        display: none;
    }

}

@media only screen and (max-width: 769px){
    .menuDesplegable{
        div{
             left: -15vw !important;
        }
     }

}


@media only screen and (max-width: 428px){
    .menuDesplegable{
        div{
             left: -35vw !important;
        }
     }

}