.bgColorHomeMedic {
    background-color: rgba($color: #009EE3, $alpha: 1.0);
    color: rgba($color: #1C2869, $alpha: 1.0);
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;

    .whiteContainerHomeMedic {
        position: absolute;
        background-color: white;
        border-radius: 30px;
        height: 550px;
        width: 1200px;
        left: 40px;
        top: 110px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        .cardDateHomeMedic {
            position: relative;
            background-color: #F3F3F3;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border-radius: 30px;
            width: 500px;
            height: 250px;

            .textHomeMedic {
                margin-left: 2rem;
                margin-top: 8rem;
            }

            .citasRealizadas {
                color: #07E089;
                
            }
            
            .citasPendientes {
                color: #FFC700;
            }
            
            .proximasCitas {
                color: #05A8DC;
            }
            
            .disponibilidad {
                color: #696CFF;
                
                .css-i4bv87-MuiSvgIcon-root {
                    height: 20rem;
                }
            }

        }

    }
}