.backgroundEditProfileMedic{
    color: #1C2869;
    background-color: #009EE3;
    min-height: 100vh;


    .aboutme-editprofile-medic{
        background-color: rgb(238, 238, 238);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


    }

}